{{>navbar username=username}}
<div id="pagebody">
    <h1>Μέσος Όρος: <span id="avggrade"></span></h1>
    <div class="formdiv">
        <form method="post">
            <div class="year" id="year1">
                <div class="semester form-group" id="semester1">
                    <legend>1o Εξάμηνο</legend>
                    {{#each courses1}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
                <div class="semester form-group" id="semester2">
                    <legend>2o Εξάμηνο</legend>
                    {{#each courses2}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="year" id="year2">
                <div class="semester form-group" id="semester3">
                    <legend>3o Εξάμηνο</legend>
                    {{#each courses3}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
                <div class="semester form-group" id="semester4">
                    <legend>4o Εξάμηνο</legend>
                    {{#each courses4}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="year" id="year3">
                <div class="semester form-group" id="semester5">
                    <legend>5o Εξάμηνο</legend>
                    {{#each courses5}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
                <div class="semester form-group" id="semester6">
                    <legend>6o Εξάμηνο</legend>
                    {{#each courses6}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="year" id="year4">
                <div class="semester form-group" id="semester7">
                    <legend>7o Εξάμηνο</legend>
                    {{#each courses7}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
                <div class="semester form-group" id="semester8">
                    <legend>8o Εξάμηνο</legend>
                    {{#each courses8}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="year" id="year5">
                <div class="semester form-group" id="semester9">
                    <legend>9o Εξάμηνο</legend>
                    {{#each courses9}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
                <div class="semester form-group" id="semester10">
                    <legend>10o Εξάμηνο</legend>
                    {{#each courses10}}
                    <div class="course" id="{{this.courseCode}}">
                        <label for="grade" >{{this.courseName}}<span type="number" id="weight" value="{{this.syntelestis}}" hidden>{{this.syntelestis}}</span></label>
                        <input name={{this.courseCode}} type="number" class="form-control" id="grade" step="0.5" min="0" max="10">
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="submitcont">
                <button class="btn btn-primary" id="gradessubmit" type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/api/grades')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                data.forEach(course => {
                    const input = document.querySelector(`input[name="${course.course}"]`);
                    if (input) {
                        input.value = course.grade;
                    }
                });
            }).
            then(() => calculateAverageGrade())
            .catch(error => console.error(error));

            const calculateAverageGrade = () => {
                const inputs = document.querySelectorAll('input[type="number"]');
                const weights = document.querySelectorAll('span#weight');
                let totalWeight = 0;
                let weightedSum = 0;

                inputs.forEach((input, index) => {
                    const value = parseFloat(input.value);
                    const weight = parseFloat(weights[index].textContent);
                    if (!isNaN(value) && !isNaN(weight) && value >= 5 && value <= 10) {
                        weightedSum += value * weight;
                        totalWeight += weight;
                    }
                });

                const avgGrade = (totalWeight === 0) ? 0 : (weightedSum / totalWeight).toFixed(2);
                document.getElementById('avggrade').textContent = avgGrade;
            };

            
            
    });

    
  

    document.addEventListener('input', (event) => {
        const inputs = document.querySelectorAll('input[type="number"]');
        const weights = document.querySelectorAll('#weight');
        const values = Array.from(inputs).map(input => input.value);
        const weightsValues = Array.from(weights).map(weight => Number(weight.textContent));
        console.log(values);
        console.log(weightsValues);

        
    
    let totalWeight = 0;
    let weightedSum = 0;

    inputs.forEach((input, index) => {
        const value = parseFloat(input.value);
        if (!isNaN(value) && value !== 0  && value >= 5 && value <= 10) {
            const weight = weightsValues[index];
            weightedSum += value * weight;
            totalWeight += weight;
        }
    });

    const avgGrade = (totalWeight === 0) ? 0 : (weightedSum / totalWeight).toFixed(2);
    document.getElementById('avggrade').textContent = avgGrade;

    });

  


</script>